.pick-head{
    font-size: 17px;
    color: #075ae0;
}

.pick-des{
    font-size: 14px;
    color: #8f9296;
}
.pick-cost{
    font-size: 12px;
    color:#7451f0 ;
}
.pick-item{
    display: flex;
    align-items: center;
    justify-content: space-around;
    border:1px solid #a9a8ad;
    margin: 8px 0px;
    border-radius: 10px;
}


.pickItem-con{
    border-radius: 10px;
    padding: 20px;
    width: 80%;
    background-color: white;
    position: relative;
    margin-top: -50px;
    margin-left: auto;
    margin-right: auto;
}

